BASE_URL=https://chorus-dev.one-line.com/
HEADLESS=true
BROWSER=chromium
ACTION_TIMEOUT=15000
NAVIGATION_TIMEOUT=30000
SCENARIO_TIMEOUT=60000
LOG_LEVEL=info

# Parallel Execution
PARALLEL_WORKERS=2

// E2E Test User Credentials
E2E_USER=
E2E_PASS=